html{
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  margin: 0;
  background-color: #2a2b38;
  border-bottom-left-radius: 2%; 
  border-bottom-right-radius: 2%;
}

ul {
  display: flex;
  list-style-type: none;
}

.img_base {
  height: 5vw;
  width: 5vw;
  border-radius: 15%;
  margin-right: 2vw;
  margin-left: 2vw;
}
.img_co {
  height: 3vw;
  width: 3vw;
  margin-right: 2vw;
  margin-left: 2vw;
}

.img_reseau{
  height: 1.5vw;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}
.fin{
  text-align: center;
}

#nom_Entreprise {
  color: #ffffff;
  font-size: 3vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}


#bouton_se_connecter {
  display: flex;
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #ffffff;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height:normal;
  min-height: 2.5em;
  outline:none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  font-size: 1vw;
  width: 11.1vw;
  justify-content: center;
  align-items: center;
  margin: 0.7vw;
}



#bouton_se_connecter:disabled {
  pointer-events: none;
}

#bouton_se_connecter:hover {
  color: #2a2b38;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#bouton_se_connecter:active {
  box-shadow: none;
  transform: translateY(0);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 5vw;
  height: 4vh;
  border-radius: 25em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  
}

.checkbox:checked ~ .slider {
  background-color: var(--light);

}

.slider::before {
  content: "";
  position: absolute;
  margin-top: 12%;
  left: 1em;
  width: 1vw;
  height: 1.5vh;
  border-radius: 50%;
  -webkit-box-shadow: inset 500px -5px 0px 0px var(--link);
  box-shadow: inset 0.5em -0.25em  var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1vh;
  
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noligne{
  text-decoration: none;
}
@media screen and (max-width: 1100px) {
  #nom_Entreprise {
    margin-right: 0vw;
  }
}

.gauche {
  display: flex;
  justify-content: center;
  align-items: center;
}

.droite{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  
}

.centre{
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  background-color: #2a2b38;
  color: white;
  padding: 20px 0;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-section {
  margin: 50px;
  white-space: nowrap;
  margin-bottom: 0.5vw;
}

.footer-section h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

.footer-section p, .footer-section a {
  color: #ffffff;
  text-decoration: none;
  line-height: 1.6;
}

.footer-section a:hover {
  text-decoration: underline;
  color: #ffffff;

}

@media screen and (max-width: 768px) {
  .container-footer {
    flex-direction: column;
    align-items: center;
  }
}