{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='billeterie.css')}}">
{% endblock %}
{% block content %}
</head>

<body>
    <div class="main">
        <h4 class="title">Billeterie</h4>
        {% if current_user.is_authenticated%}
        <form role="form" method="POST" action="{{ url_for('acheter_billet',idU=current_user.utilisateurId) }}">
            {% else %}
            <form role="form" method="POST" action="{{ url_for('connexion') }}"></form>

            {% endif %}

            {% for billet in typesBillet %}
            <div class="card">
                <div>
                    <img class="img-billet" src="{{ url_for('static', filename='img/1jour.png') }}" alt="">
                </div>
                <div class="para">
                    <div>

                        <h4 class="billet">{{ billet.nomTypeBillet }}</h4>
                        <div class="scroll">
                            {% for nec in necessiter %}
                            {% if nec.typeBilletId==billet.typeBilletId %}
                            {% for conc in concerts %}
                            {% if nec.groupeConcertId==conc.groupeConcertId %}

                            <p class="date">{{ conc.descriptionGP }}</p>


                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        <p class="date">{{ billet.prixB }} €</p>
                    </div>
                    <div class="quantity-container">

                        <input type="number" name="{{ billet.typeBilletId }}" id="quantity1" value="0" />

                    </div>
                </div>
            </div>
            {% endfor %}




            {% if current_user.is_authenticated%}
            <button class='btnA' type="submit">Acheter</button>
            {% else %}
            <a href="{{ url_for('connexion') }}">
            <button class='btnA' type="submit">Acheter</button>
            </a>
            {% endif %}
        </form>

    </div>


</body>
{% endblock %}