{% extends 'base_sans_log.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='creation_concert.css') }}" />
{% endblock %}

{% block content %}
<div id="bouton_retour_choix_fiche">
    <a href="{{ url_for('administrer_concert') }}">
      <button type="button" class="bouton_de_retour">Retour</button>
    </a>
</div>
  <div class="form">
      <div class="title">Créer votre concert !</div>
      <form role="form" method ="POST" action ="">
          <div class="input-container ">
              <input placeholder="Nom" type="text" class="input" name="nom" required>
              <div class="cut"></div>
              <label class="iLabel" for="nom">Nom</label>
           </div>
           <div class="input-container">
            <input placeholder="" type="datetime-local" class="input" name="Datedebut" required>
            <label class="iLabel" for="Datedebut"></label>
           </div>
        
            <div class="input-container">
              <input placeholder="" type="datetime-local" class="input" name="dateF" required>
              <label class="iLabel" for="dateF">DateDebut</label>
              <div class="cut"></div>
            </div>
            <div class="input-container">
              <select name="Lieu" id="pet-select" class="input">
                {% for s in liste_salle %}
                <option value="{{s.nomSalle}}">{{s.nomLieu}}</option>
                {% endfor %}
              </select>
              </input>
              <div class="cut"></div>
              <label class="iLabel" for="Lieu">Lieu</label>
            </div>
            <div class="input-container">
              <select name="groupe" id="pet-select" class="input">
                {% for g in liste_groupe %}
                <option value="{{g.nomGroupe}}">{{g.nomGroupe}}</option>
                {% endfor %}
              </select>
              </input>
              <div class="cut"></div>
              <label class="iLabel" for="groupe">Groupe</label>
            </div>
            <button class="submit" type="text" onclick="showConfirmationEnregistrer()">Enregistrer</button>
      </form>
  </div>
</main>
{% endblock %}
