{% extends 'base.html' %} {% block styles %}{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='home.css')}}" />
{% endblock %} {% block content %}
<main>
 
  <div class="auteur">
    <div class="Marquee">
      <div class="Marquee-content">
        <div class="Marquee-tag">Liam</div>
        <div class="Marquee-tag">Romain</div>
        <div class="Marquee-tag">Nathan</div>
        <div class="Marquee-tag">Antoine</div>
        <div class="Marquee-tag">Leni</div>
        <div class="Marquee-tag">Remi</div>
        <div class="Marquee-tag">Liam</div>
        <div class="Marquee-tag">Romain</div>
        <div class="Marquee-tag">Nathan</div>
        <div class="Marquee-tag">Antoine</div>
        <div class="Marquee-tag">Leni</div>
        <div class="Marquee-tag">Remi</div>

      </div>
    </div>
  </div>
  <h1 class="bienvenue">Bienvenue sur FestIUT O</h1>
  
  <div class="concert">
    <img class="img-concert" src="{{ url_for('static', filename='img/fond.jpg') }}" alt="">
    <div class="concert-info">
      <h2 id="titre">Concert de l'année</h2>
      <p id="description">Le concert de l'année aura lieu le 12/12/2020 à 20h00</p>
      <a class="bouton-reserver" href="{{ url_for('programmation') }}">
        <button class="buttonOrg">
          <span>Reserver</span>
        </button>
      </a>
    </div>
  </div>
  

</main>
<script>
  let currentSlide = 0;

  function showSlide(index) {
    const carousel = document.querySelector('.carousel');
    const slideWidth = document.querySelector('.carousel img').clientWidth;
    carousel.style.transform = `translateX(${-index * slideWidth}px)`;
    currentSlide = index;
  }

  function nextSlide() {
    const totalSlides = document.querySelectorAll('.carousel img').length;
    currentSlide = (currentSlide + 1) % totalSlides;
    showSlide(currentSlide);
  }

  function prevSlide() {
    const totalSlides = document.querySelectorAll('.carousel img').length;
    currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
    showSlide(currentSlide);
  }
</script>
{% endblock %}