{% extends 'base_sans_log.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='modif_artiste.css') }}" />
{% endblock %}

{% block content %}
<div id="bouton_retour_choix_fiche">
    <a href="{{ url_for('consulter_les_groupes') }}">
    <button type="button" class="bouton_de_retour">Retour</button>
    </a>
  </div>
  <div class="form">
      <div class="title">Ajouter les information du groupe !</div>
      <form role="form" method ="POST" action ="{{ url_for('modif_groupe',id=groupe.groupeId) }}">
        <div class="input-container ">
            <input placeholder="Nom du groupe" type="text" class="input" name="nom" value="{{ groupe.nomGM }}" required>
            <div class="cut"></div>
            <label class="iLabel" for="nom">Nom du groupe</label>
         </div>
        <div class="input-container ">
            <input placeholder="Description du groupe" type="text" class="input" name="description" value="{{ groupe.descriptionGM }}" required>
            <div class="cut"></div>
            <label class="iLabel" for="description">Description</label>
         </div>
         <div class="input-container ">
            <input placeholder="Lien du groupe" type="text" class="input" name="lien" value="{{ groupe.lienGM }}" required>
            <div class="cut"></div>
            <label class="iLabel" for="lien">Lien du groupe</label>
         </div>
         <div class="input-container">
            <select name="style" id="pet-select" class="input">
              {% for style in listeStyle %}
              <option value="{{ style.nomSM }}">{{ style.nomSM }}</option>
              {% endfor %}
            </select>
            </input>
            <div class="cut"></div>
            <label class="iLabel" for="style">Style</label>
          </div>
 
            <button class="submit" type="text" onclick="showConfirmationEnregistrer()">Enregistrer</button>
      </form>
  </div>
{% endblock %}
