{% extends 'base_sans_log.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='modif_artiste.css') }}" />
{% endblock %}

{% block content %}
<div id="bouton_retour_choix_fiche">
    <a href="{{ url_for('administrer_utilisateur') }}">
    <button type="button" class="bouton_de_retour">Retour</button>
    </a>
  </div>
  <div class="form">
      <div class="title">Modifiez les information de l'utilisateur!</div>
      <form role="form" method ="POST" action ="{{ url_for('modif_utilisateur',id=utilisateur.utilisateurId) }}">
        <div class="input-container ">
            <input placeholder="Nom de l'utilisateur" type="text" class="input" name="nom" value="{{ utilisateur.nomUtilisateur }}" required>
            <div class="cut"></div>
            <label class="iLabel" for="nom">Nom de l'utilisateur</label>
         </div>
        <div class="input-container ">
            <input placeholder="Email" type="text" class="input" name="email" value="{{ utilisateur.emailUtilisateur }}" required>
            <div class="cut"></div>
            <label class="iLabel" for="email">Email</label>
         </div>
         <div class="input-container ">
            <input placeholder="Mot De Passe" type="text" class="input" name="mdp" value="{{ utilisateur.MDPUtilisateur }}" required>
            <div class="cut"></div>
            <label class="iLabel" for="mdp">Mot De Passe</label>
         </div>
         <div class="input-container">
          <input placeholder="" type="date" class="input" name="dateDN" value="{{ utilisateur.DdN }}" required>
          <label class="iLabel" for="dateDN"></label>
        </div>
        <div class="input-container ">
          <input placeholder="Numero" type="text" class="input" name="numero" value="{{ utilisateur.tel }}" required>
          <div class="cut"></div>
          <label class="iLabel" for="numero">Numero</label>
       </div>
         <div class="input-container">
            <select name="Role" id="pet-select" class="input">
              <option value="Spectateur">Spectateur</option>
              <option value="Administrateur">Administrateur</option>
            </select>
            </input>
            <div class="cut"></div>
            <label class="iLabel" for="role">Role</label>
          </div> 
            <button class="submit" type="text" onclick="showConfirmationEnregistrer()">Enregistrer</button>
      </form>
  </div>
{% endblock %}
